@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
*,
html,
body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Oxygen", sans-serif;
}

.inverted {
  position: fixed !important;
  box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.1);
  z-index: 111;
  padding: 0;
}
.inverted .col1 {
  display: none;
}
.inverted .header-title-wrapper {
  background-color: #fff !important;
}
.inverted .custom-main-btn {
  display: initial !important;
  background-color: #003E7C;
  color: #fff;
  padding: 0.8rem 2rem;
  letter-spacing: 0.2em;
  font-size: 16px;
  margin-left: 32px;
}
@media (max-width: 767.98px) {
  .inverted .col1 {
    display: initial !important;
  }
  .inverted .header-title-wrapper {
    background-color: #F0F5FB !important;
  }
  .inverted .header-title-wrapper h1 {
    color: #003E7C;
  }
  .inverted .custom-main-btn {
    display: none !important;
  }
}

.custom-navbar .header-title-wrapper {
  background-color: #F0F5FB;
  height: 110px;
}
.custom-navbar .header-title-wrapper h1 {
  color: #003E7C;
  font-weight: 700;
}
.custom-navbar .header-title-wrapper .custom-main-btn {
  display: none;
}

.results-section .card-score {
  font-size: 50px;
}
.results-section span {
  color: #edd58a;
}
.results-section .results-title {
  font-weight: 700;
  line-height: 48px;
}
.results-section .results-sub-title {
  font-weight: 700;
  line-height: 48px;
  font-size: 34px;
}
.results-section .results-img {
  height: 600px;
}
.results-section .custom-btn {
  padding: 0.9rem 3rem;
  border-radius: 40px;
  margin-right: 10px;
}
.results-section .poor {
  background-color: #ed968a;
  color: #d34747;
}
.results-section .good {
  background-color: #edd58a;
  color: #d3ae47;
}
.results-section .great {
  background-color: #00993d;
  color: #fff;
}
.results-section .progress-img {
  height: 74px;
}
.results-section .custom-main-btn {
  background-color: #003E7C;
  color: #fff;
  padding: 0.8rem 2rem;
  letter-spacing: 0.2em;
  font-size: 16px;
}
@media (max-width: 767.98px) {
  .results-section .sm-img {
    display: none;
  }
  .results-section .results-btns-wrapper {
    text-align: center;
  }
  .results-section .custom-main-btn {
    display: none;
  }
}

.personal-section {
  background-color: #F0F5FB;
}
.personal-section .feature-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
}
.personal-section .custom-personal-card {
  box-shadow: 9px 11px 10px 5px rgba(196, 196, 196, 0.4);
  border: 0;
  border-radius: 0;
}
.personal-section .custom-personal-card .card-title {
  font-weight: 700;
}
.personal-section .custom-personal-card .card-text {
  font-size: 48px;
  color: #003E7C;
}
.personal-section .custom-personal-card .card-contant {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
.personal-section .custom-personal-card .card-data {
  display: flex;
}
.personal-section .custom-personal-card .card-data .card-contant-data {
  text-align: start;
}
.personal-section .custom-personal-card .card-data .card-contant-data .poor {
  color: #d6514f;
}
.personal-section .custom-personal-card .card-data .card-contant-data .heigh {
  color: #00993d;
}
.personal-section .custom-personal-card .card-data .card-contant-data .small-text {
  font-size: 12px;
  margin: 0;
}
.personal-section .custom-personal-card .btns {
  display: flex;
  justify-content: space-between;
}
.personal-section .custom-personal-card .btns .custom-btn {
  background-color: #edd58a;
  font-size: 9px;
  margin-right: 4px;
}
.personal-section .custom-personal-card .progress-bar-contant .text h6 {
  margin: 0;
  font-size: 38px;
}
.personal-section .custom-personal-card .progress-bar-contant .text span {
  color: #edd58a;
  font-size: 40px;
}
.personal-section .custom-personal-card .progress-bar-contant .progress {
  height: 0.4rem !important;
}
.personal-section .custom-personal-card .progress-bar-contant .progress .progress-bar {
  background-color: #edd58a !important;
}
.personal-section .custom-personal-card .image {
  height: 160px !important;
}
@media (max-width: 767.98px) {
  .personal-section .card-contant {
    display: block !important;
  }
  .personal-section .card-data {
    flex-direction: column;
  }
  .personal-section .card-data .card-contant-data {
    text-align: center !important;
  }
  .personal-section .btns {
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  .personal-section .btns .custom-btn {
    margin-bottom: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .personal-section .progress-bar-contant {
    padding-top: 0 !important;
  }
  .personal-section .progress-bar-contant .text {
    padding-bottom: 1.5rem !important;
  }
}

.quotation-section {
  position: relative;
  padding-bottom: 50px;
}
.quotation-section .quotation-wrapper {
  background-color: #F0F5FB;
}
.quotation-section .quotation-wrapper p {
  color: #232426;
}
.quotation-section .quotation-wrapper h6 {
  font-weight: bold;
  line-height: 25px;
}
.quotation-section .dr-image {
  width: 500px;
  position: absolute;
  right: 36px;
  z-index: 11;
  bottom: -20px;
}
@media (max-width: 767.98px) {
  .quotation-section .dr-image {
    top: 20px;
    bottom: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
  }
  .quotation-section .quotation-wrapper {
    padding-top: 8rem;
  }
  .quotation-section .quotation-wrapper .p-5 {
    padding: 1rem !important;
  }
  .quotation-section .quotation-wrapper .row {
    padding: 0 !important;
  }
}
@media (max-width: 767.98px) {
  .quotation-section {
    margin-bottom: -100px;
  }
}

.experience-section {
  position: relative;
  background-image: url(../images/bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 519px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.experience-section .experience-title {
  color: #fff;
  font-weight: 700;
}
.experience-section .custom-main-btn {
  background-color: #003E7C;
  color: #fff;
  padding: 0.8rem 2rem;
  letter-spacing: 0.2em;
  font-size: 16px;
}

.footer {
  background-color: #232426;
}
.footer p {
  color: #fff;
  margin: 0;
}

@media (max-width: 767.98px) {
  .inverted {
    position: relative !important;
  }

  .feature-section {
    margin-bottom: 70px !important;
  }

  .quotation-section {
    background-color: #F0F5FB !important;
  }
}/*# sourceMappingURL=style.css.map */